.aboutUsPage {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.aboutUsNav {
    height: 100%;
    width: 33em;

    position: sticky;
    top: 5.5em;
    left: 0;

    margin-top: 5em;
    margin-right: 0.75em;
    margin-bottom: 2em;

    border-right-style: solid;
    border-right-color: #00171f;
    border-right-width: 2px;

}

.aboutUsNav li {
    margin-top: 0.75em;
    margin-bottom: 0.5em;

    padding-right: 0.25em;

    list-style-type: none;
    font-family: "SUSE", sans-serif;
    font-size: larger;
    font-weight: 600;
    text-align: center;
}

.aboutUsContent {
    display: flexbox;

}

.imgLeft div {
    width: 60%;
    margin-left: 1em;
}

.imgLeft img {
    border-radius: 10px;
}

.contentBox {
    width: 100%;
    margin-top: 2em;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contentBox h2 {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 0.25em;
    font-size: xxx-large;
    font-family: "SUSE", sans-serif;
    font-weight: 800;
    color: #007ea7;
}

/* TODO remove this CSS after done testing */
.theBigTestDiv {
    height: 100%;
    width: 100%;
    z-index: -2;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
}