* {
  text-decoration: none;
}


/*HEADER CSS*/
header {
  background-color: red;
  display: flex;
  justify-content: center;
  height: 6em;
}

.logo_container {
  background-color: blueviolet;
  display: flex;
  width: 40%;
  align-items: center;
}

.logo_container img {
  width: 30%;
}

.logo_container h1 {
  background-color: green;
  width: 70%;
  text-align: left;
  font-size: x-large;
}

.nav_container {
  background-color: aquamarine;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.nav_container a {
  background-color: blanchedalmond;
  /*Box Formatting*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 70%;
  border-radius: 1em;
  /*Font Formatting*/
  font-size: large;
}

/*SLIDESHOW CSS*/
.slideshow {
  background-color: bisque;
  height: 1000px;
  width: 100%;
}